/*LOAD FONTS*/
@font-face {
    font-family: "BebasNeue";
    src: url("/theme/css/font/BebasNeue-Regular.ttf") format("truetype");
}
.nav-tabs > li > a{
    line-height:1.22857143 !important;
}
body, #myaccountDiv,p,h1,span,h2,h3,h4,h5,h6, #myaccountDiv a, .sweet-alert, .sweet-alert p, .colorbox, .casmodal-header,.modal-body,.btn{
    font-family: "BebasNeue", 'Helvetica', sans-serif !important;
}