/*LOAD FONTS*/
@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Regular.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Regular.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-Bold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Neuton";
    src: url("/theme/css/font/Neuton-ExtraBold.ttf") format("truetype");
    font-weight: 900;
}

.nav-tabs > li > a{
    line-height:1.22857143 !important;
}
body, #myaccountDiv,p,h1,span,h2,h3,h4,h5,h6, #myaccountDiv a, .sweet-alert, .sweet-alert p, .colorbox, .casmodal-header,.modal-body,.btn{
    font-family: "Neuton", 'Helvetica', sans-serif !important;
}